body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

/* title */
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.fa-brands{
  margin-right: 5px;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
  right: 20%;
}

/* features */
#features{
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;

}
.feature-icon:hover{
  color: #ff4c88;
}

.features-box {
  padding: 2.5%;
}

/* testimonial: ; */
#testimonials {
  background-color: #ef8172;
}

.testimonial-txt {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-txt {
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */
.social-media {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title .container-fluid{
    text-align: center;
  }
  .title-image {
    transform: rotate(0);
    position: static;
  }
}
